.input-container {
	position: relative;
	width: 200px;
}
.input-container input[type="text"] {
	border: 1px solid #ccc;
	margin-left: 20px;
	padding: 3px 9px;
	height: 30px;
	margin-bottom: 5px;
	width: 168%;
	border-radius: 5px;
}

input[type="text"] {
	width: calc(100%- 20px);
	padding-right: 20px;
}

.dropdown-indicator {
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.dropdown {
	position: absolute;
	margin-left: 20px;
	width: 100%;
	border: 1px solid #ccc;
}

.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dropdown ul li {
	padding: 5px 10px;
	cursor: pointer;
}

.dropdown ul li:hover {
	background-color: #f0f0f0;
}
